*{
    margin: 0;
    padding: 0;
}

:root{
    --azul1: #03045E;
    --azul2: #0077B6;
    --azul3: #00B4D8;
    --azul4: #90E0EF;
    --branco: #CAF0F8;
}

h1{
    background-color: rgb(4, 111, 233);
}
.cabecalho{
    background-color: var(--);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho{
    background-color: var(--azul);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cabecalho-img{
    width: 10%;
    margin: 1em
}


.cabecalho-link{
    text-decoration: none;
    font-size: 2em;
    color:var(--azul);
    font-family: var(--fonte-titulo);
    margin-right: 1em;
}


